name: sleap-io

channels:
  - conda-forge

dependencies:
  - python
  - ffmpeg
  - imageio
  - imageio-ffmpeg >=0.5.0
  - av
  - attrs
  - pandas
  - simplejson
  - h5py >=3.8.0
  - hdmf
  - numpy <2.0.0
  - opencv
  - pynwb <=2.7.0
  - ndx-pose
  - pytest
  - pytest-cov
  - black
  - pydocstyle
  - toml
  - twine
  - python-build
  - pip
  - pip:
    - "--editable=.[dev]"
