site_name: sleap-io documentation
site_url: https://io.sleap.ai/
repo_url: https://github.com/talmolab/sleap-io
strict: false

theme:
  name: material
  logo: assets/sleap-logo.png
  favicon: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github

  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # Palette toggle for light mode
    - scheme: default
      primary: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode


  features:
    - navigation.tracking
    # - toc.integrate  # TOC integrated into left nav
    - toc.follow
    # Tabs
    # - navigation.tabs
    # - navigation.tabs.sticky  # stays visible at the top
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    # Insiders:
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.instant.preview
    - content.code.select
    - content.footnote.tooltips

plugins:
  - search
  # - privacy  # Caching dynamic badges
  - mkdocs-jupyter
  - mike
  - autorefs
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
        - scripts/gen_changelog.py
  - section-index
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            summary: true
            show_root_heading: true
            show_root_toc_entry: true
            docstring_options:
              returns_multiple_items: false
            docstring_section_style: table  # table, list, spacy
            force_inspection: true  # Use dynamic imports for lazy-loaded modules
            allow_inspection: true
  


markdown_extensions:

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      linenums_style: pymdownx-inline
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  version:
    provider: mike

  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/talmolab
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/talmop

extra_css:
  - css/mkdocstrings.css

copyright: >
  Copyright &copy; 2022 - 2025 Talmo Lab

nav:
  - Overview: index.md
  - Installation: install.md
  - Changelog: changelog.md
  - Releases: https://github.com/talmolab/sleap-io/releases
  - Guides:
    - Examples: examples.md
    - Codecs: codecs.md
    - Rendering: rendering.md
    - Merging: merging.md
  - Reference:
    - Model: model.md
    - Formats:
      - formats/index.md
      - SLP Format: formats/slp.md
    - CLI: cli.md
    - Full API: reference/