/* Indentation. */
div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: .05rem solid var(--md-typeset-table-color);
  }
  
  /* Mark external links as such. */
  a.external::after,
  a.autorefs-external::after {
    /* https://primer.style/octicons/arrow-up-right-24 */
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    content: ' ';
  
    display: inline-block;
    vertical-align: middle;
    position: relative;
  
    height: 1em;
    width: 1em;
    background-color: currentColor;
  }
  
  a.external:hover::after,
  a.autorefs-external:hover::after {
    background-color: var(--md-accent-fg-color);
  }

  /* Fancier color for operators such as * and |. */
.doc-signature .o {
    color: var(--md-code-hl-special-color);
  }
  
  /* Fancier color for constants such as None, True, and False. */
  .doc-signature .kc {
    color: var(--md-code-hl-constant-color);
  }
  
  /* Fancier color for built-in types (only useful when cross-references are used). */
  .doc-signature .n > a[href^="https://docs.python.org/"][href*="/functions.html#"],
  .doc-signature .n > a[href^="https://docs.python.org/"][href*="/stdtypes.html#"] {
    color: var(--md-code-hl-constant-color);
  }

  .highlight .gp, .highlight .go { /* Generic.Prompt, Generic.Output */
    user-select: none;
}

/* CLI command entries in TOC - style as code/monospace */
.md-nav__link[href="#sio-show"],
.md-nav__link[href="#sio-convert"],
.md-nav__link[href="#sio-split"],
.md-nav__link[href="#sio-unsplit"],
.md-nav__link[href="#sio-merge"],
.md-nav__link[href="#sio-embed"],
.md-nav__link[href="#sio-unembed"],
.md-nav__link[href="#sio-filenames"],
.md-nav__link[href="#sio-fix"],
.md-nav__link[href="#sio-render"],
.md-nav__link[href="#sio-trim"],
.md-nav__link[href="#sio-reencode"] {
    font-family: var(--md-code-font, "Roboto Mono"), SFMono-Regular, Consolas, Menlo, monospace;
    font-size: 0.85em;
}

/* Markdown source link button - positioned in top-right like Material action buttons */
.md-source-file {
    float: right;
    margin: 0 0 0.5em 0.5em;
}

.md-source-file a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    color: var(--md-default-fg-color--light);
    transition: color 0.25s, background-color 0.25s;
}

.md-source-file a:hover {
    color: var(--md-accent-fg-color);
    background-color: var(--md-accent-fg-color--transparent);
}

.md-source-file svg {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}